name: on-push
on: [push]
env:
  MIX_ENV: test
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ["23.0.4"]
        elixir: ["1.7.4", "1.8.2", "1.9.4", "1.10.4", "1.11.3"]
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix compile
      - run: mix format --check-formatted
        if: matrix.elixir == '1.11.3' # Only check formatting with the latest verison
      - run: mix test

