name: on-push
on: [push, pull_request]
env:
  MIX_ENV: test
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ["23.3.3"]
        elixir: ["1.9.4", "1.10.4", "1.11.4", "1.12.3"]
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix compile
      - run: mix format --check-formatted
        if: matrix.elixir == '1.12.3' # Only check formatting with the latest version
      - run: mix dialyzer
        if: matrix.elixir == '1.12.3' # Only check dialyzer with the latest version
      - run: mix test

